:root { 
    --site-navigation-panel-width : 60px;
    --site-navigation-panel-width-hover : 200px;
    --app-header-height : 64px;
    --app-footer-height : 3.5rem;
    --z-index-site-navigation-panel : 6000
}